
.data-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.current-data-value {
    font-weight: 400;
    font-size: x-large;
}

.min-and-max-data-value {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: gray;
    margin-top: -0.5rem;
    padding: 0 0.1rem;
}
